.container-wrapper {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

/* Left side image */
.bg-image {
  flex:2;
  background-image: url('https://img.freepik.com/premium-photo/cybersecurity-protects-login-secure-internet-access-businessman-using-laptop-internet-network-data-protection-significance-secure-login-data-protection-digital-world_1226545-831.jpg?ga=GA1.1.2140115462.1747283281&semt=ais_hybrid&w=740');
  
  height: 100vh; /* Adjust height as needed */

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Right side form */
.login-form {
  height: 400;
  width: 100px;
 flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  background-color: #ffffff;
  box-shadow: -4px 0 12px rgba(0, 0, 0, 0.1);
}

/* Input styling (optional, Bootstrap used if you have it) */
input {
  height: 45px;
  padding: 10px;
  font-size: 16px;
}


