<div class=bg-image>
  <h2 class="text-center">Customer Resources</h2>
<nav class="nav ">
  <a class=" nav-link" href="http://localhost:4200/offers">Offers</a>
  <a class=" nav-link" href="http://localhost:4200/">Discounts</a>
  <a class=" nav-link" href="http://localhost:4200/writers-crud-list">b</a>
  <a class=" nav-link" href="http://localhost:4200/book-crud">List Book</a>
  <a class=" nav-link" href="http://localhost:4200/catagory">Catagory</a>
  <a class=" nav-link" href="http://localhost:4200/src/customer-list ">Customer Details</a>

</nav>
</div>