<!-- 
<div class="container mt-4" class="bg-image">
    <h1 class="form-title text-primary text-center mb-4"> Books </h1>
    <div class="row mt-4">
        <div class="col-md-4 mb-4" *ngFor="let books of ">
            <div class="card shadow-lg rounded-4">
                <!-- Book Image -->
                <!-- <img [src]="book.imageUrl" class="card-img-top img-fluid book-image" alt="Book Image"> -->

                <!-- <div class="card-body text-center">
                   
                    <h5 class="card-title fw-bold text-primary">{{ book.title }}</h5>

                    <p class="card-text text-muted">✍️ <strong>Writer:</strong> {{ author.name }}</p>

               
                    <p class="card-text text-success">💲 <strong>Price:</strong> ${{ cartItem.priceAt }}</p> 

                    <button class="btn btn-warning shadow-sm fw-bold" (click)="addToCart(book)">
                        Add to Cart
                    </button>
                </div>
            </div>
        </div>
    </div>

 --> 
