<div class="container">
  <h2 class="text-center">Book List</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>#</th>
       
        <th>Title</th>
        <th>ISBN</th>
        <th>Price</th>
        <th>Stock</th>
        <th>Image</th>
        <th>Genre</th>
        <th>Rating</th>
        <th>Created At</th>
        <th>Updated At</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books; trackBy: trackByBook">
        <td>{{ book.indexOf(book) + 1 }}</td>
     
        <td>{{ book.title }}</td>
        <td>{{ book.isbn }}</td>
        <td>{{ book.price }}</td>
        <td>{{ book.stock }}</td>
        <td><img [src]="book.image" alt="Book Cover" width="50" /></td>
        <td>{{ book.genre }}</td>
        <td>{{ book.rating }}</td>
       
      </tr>
    </tbody>
    
  </table>
</div>