<div class="container mt-4">
  <h2 class="text-center text-primary mb-4">Book List</h2>

  <table class="table table-striped table-bordered table-hover shadow-sm">
    <thead class="table-dark">
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>ISBN</th>
        <th>Price</th>
        <th>Stock</th>
        <th>Image</th>
        <th>Genre</th>
        <th>Rating</th>
        <th>Author</th>
        <th>Warehouse</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ book.title }}</td>
        <td>{{ book.isbn }}</td>
        <td>{{ book.price }}</td>
        <td>{{ book.stock }}</td>
        <td>
          <img [src]="book.image" alt="{{ book.title }}" width="50" height="60" class="rounded" *ngIf="book.image" />
        </td>
        <td>{{ book.genre }}</td>
        <td>{{ book.rating }}/5</td>
        <td>{{ book.authorId }}</td>
        <td>{{ book.warehouseId }}</td>
       
        <td>
          <button class="btn btn-sm btn-primary me-2" (click)="editBook(book)">Edit</button>
          <button class="btn btn-sm btn-danger" (click)="deleteBook(book)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>